.pixel-details-container {
  width: 100%;
  position: fixed;
  bottom: 0px;
}

ion-modal.modal-default {
  &.stake-modal-page {
    --max-height: 290px;
    --min-height: 290px;
    --height: 290px;
    height: 290px;
  }
  &.alert-modal {
    --max-height: 366px;
    --min-height: auto;
    --height: 100%;
    height: 100%;
    position: inherit;
    bottom: 0;
    top: 0;
  }
  &.second {
    --max-height: 280px;
    --min-height: 280px;
    --height: 280px;
    height: 280px;
  }
  &.third {
    --max-height: 290px;
    --min-height: 290px;
    --height: 290px;
    height: 290px;
  }
  --ion-backdrop-color: transparent;
  --max-height: 260px;
  --min-height: 260px;
  --height: 260px;
  bottom: calc(var(--ion-safe-area-bottom) + 50px);
  position: fixed;
  height: 260px;
  top: auto;

  ion-header {
    .pixel {
      width: 30px;
      height: 30px;
      background-color: var(--color);
      border: 2px solid var(--ion-color-primary);
    }
    .name {
      text-align: center;
      color: var(--sub-color);
      span {
        color: var(--text-color);
      }
    }
    .coords {
      color: var(--sub-color);
    }
    ion-toolbar.header-toolbar {
      --min-height: 50px;
      ion-button {

    --color: var(--ion-color-primary);
      }
    }
    ion-toolbar.segment-toolbar {
      --padding-top: 0px;
      --padding-bottom: 0px;
      --min-height: 40px;
      ion-segment {
        --background: #1e1e1e;
        ion-segment-button {
            --ion-toolbar-segment-color: #6f6b6b;
            --border-color: #ccc;
            --indicator-color: #595858;
            --color-checked: white;
        }
      }
    }
  }
  ion-segment-view {
    height: 260px;
  }
  ion-segment-content {
    display: flex;
    align-items: start;
    flex-direction: column;
  }
  ion-content {
    .section {
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      padding: 5px 16px;
      width: 100%;
      &.history {
        margin-top: 8px;
      }
      .title {
        text-align: center;
        margin-bottom: 8px;
        color: var(--sub-color);
      }
      .content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--text-color);
        .color-blocks {
          display: flex;
          justify-content: space-between;
          ion-button {
            min-height: 0px;
            height: 25px;
            --padding-top: 2px;
            --padding-bottom: 2px;
          }
          .color-block {
            width: 15px;
            height: 15px;
            background-color: black;
            opacity: 0.7;
          }
        }
        .info {
          padding: 2px;
          display: flex;
          .info-title {
            flex: 1;
            color: var(--text-color);
            .title-value {
              flex: 1;
            }
          }
          .info-value {
            flex: 2;
            color: var(--ion-color-primary);
            display: flex;
            justify-content: end;
            align-items: center;
            .unit {
              margin-left: 4px;
            }
            .additional-info {
              margin-left: 4px;
              color: var(--sub-color);
            }
          }
        }
      }
    }
  }
}

.pixel-details-center-container {
  --width: 300px;
  --height: 200px;
  position: absolute;
  bottom: 4px;
  left: calc(50% - var(--width) / 2);
  height: var(--height);
  width: var(--width);
}

.pixel-details-header {
  padding: 8px;
  height: 50px;
  background-color: var(--background-color-light);
  border: 2px solid var(--background-color-dark);
  display: flex;
  align-items: center;
  .pixel {
    width: 30px;
    height: 30px;
    background-color: var(--color);
    border: 2px solid var(--ion-color-primary);
  }
  .name {
    text-align: center;
    color: var(--sub-color);
    span {
      color: var(--text-color);
    }
    flex: 1;
  }
  .coords {
    color: var(--sub-color);
  }
}
.pixel-details-content {
  --content-height: 150px;
  height: var(--content-height);
  display: flex;

  .left-button,
  .right-button {
    ion-button {
      position: relative;
      z-index: 10;
      --color: var(--ion-color-primary);
      --background: var(--background-color-dark);
      --box-shadow: none;
      margin: 0px;
      width: 10px;
      min-width: 0px;
      min-height: 0px;
      height: 100%;
      &::part(native) {
        width: 10px;
        border-radius: 0px;
      }
    }
  }
  .left-button {
  }
  .right-button {
  }

  .content-slide {
    background-color: var(--background-color-light);
    border: 2px solid var(--background-color-dark);
    padding: 8px;
    padding-top: 0px;
    width: calc(var(--width) - 20px);
    height: var(--content-height);
    display: flex;
    flex-direction: column;
    .section {
      flex: 1;
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      &.history {
        margin-top: 8px;
      }
      .title {
        text-align: center;
        margin-bottom: 8px;
        color: var(--sub-color);
      }
      .content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--text-color);
        .color-blocks {
          display: flex;
          justify-content: space-between;
          ion-button {
            min-height: 0px;
            height: 25px;
            --padding-top: 2px;
            --padding-bottom: 2px;
          }
          .color-block {
            width: 15px;
            height: 15px;
            background-color: black;
            opacity: 0.7;
          }
        }
        .info {
          padding: 2px;
          display: flex;
          .info-title {
            flex: 1;
            color: var(--text-color);
            .title-value {
              flex: 1;
            }
          }
          .info-value {
            flex: 2;
            color: var(--ion-color-primary);
            display: flex;
            justify-content: center;
            align-items: center;
            .unit {
              margin-left: 4px;
            }
            .additional-info {
              margin-left: 4px;
              color: var(--sub-color);
            }
          }
        }
      }
    }
    &.center {
      position: relative;
      z-index: 3;
    }

    &.left {
      position: absolute;
      top: 50px;
      transition: left 0.5s ease;
      left: 0px;
      z-index: 2;
      &.open {
        left: calc(-1 * var(--width) + 20px);
      }
    }
    &.right {
      position: absolute;
      top: 50px;
      transition: right 0.5s ease;
      right: 0px;
      z-index: 1;
      &.open {
        right: calc(-1 * var(--width) + 20px);
      }
    }
  }
}
