ion-modal.image-modal-page {
  &.has-image {
    --max-height: 100%;
    --min-height: 100%;
    --height: 100%;
    height: calc(100% - var(--ion-safe-area-bottom) - var(--ion-safe-area-top) - 50px);
  }
  --max-height: 280px;
  --min-height: 280px;
  --height: 280px;
  height: 280px;
  --ion-backdrop-color: transparent;
  bottom: calc(var(--ion-safe-area-bottom) + 50px);
  position: fixed;
  height: 260px;
  top: auto;
  ion-header {
    ion-toolbar {
      --min-height: 50px;
      ion-button {
        --color: var(--ion-color-primary);
      }
    }
  }
}

.image-modal-page {
  .modal-title {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--text-color);
  }
  .image-modal-container {
    background-color: var(--background-color-light);
    height: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    .image-upload-container {
      flex: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .image-preview {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {    
            width: 100%;
            height: calc(100vh - 409px);
            object-fit: contain;
            border: 1px solid white;
        }
      }
    }
    .image-inputs {
      margin: 16px 0px;
      .image-input {
        width: 100%;
        display: flex;
        align-items: center;
        .input-label {
          flex: 1;
          display: flex;
          align-items: center;
          color: var(--text-color);
          .input-label-title {
            flex: 1;
          }
        }
        .input-text {
          min-width: 50px;
          flex: 2;
          text-align: center;
          font-size: 0.875rem;
          ion-label {
            color: var(--ion-color-primary);
            span {
              color: var(--sub-color);
              font-size: 0.7rem;
            }
          }
        }
        .input-button {
          min-width: 50px;
          flex: 2;
          background: var(--background-color-dark);
          ion-label {
            /* color: var(--text-color); */
            span {
              color: var(--sub-color);
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }
}
