.stake-name-popover-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    ion-input {

    color: white;
    }
    .content {
        flex: 1;
        padding-left: 20px;
        padding-right: 8px;
        ion-input {
            border-bottom: 1px solid var(--sub-color);
        }
        .hint {
            display: flex;
            justify-content: end;
            align-items: center;
            .amount {
                color: var(--sub-color);
                font-size: 0.8rem;
            }
        }
    }
    .actions {
        display: flex;
        justify-content: right;
        padding: 0px 8px;
        padding-bottom: 4px;
    }
}
