.small-end-menu-container {
    background-color: var(--background-color-light);
    position: absolute;
    right: 0px;
    height: 100%;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 105;
    padding-top: 64px;
    .small-end-menu-content {
        width: 56px;
        display: flex;
        flex-direction: column;
        flex: 1;
        background: var(--background-color-dark);
        align-items: center;
    }
}
